<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Change Password - Innovera RMS</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header>
  <h1>Welcome to Innovera Solutions</h1>
</header>
<main>
  <div class="form-container">
    <h2>Change Password - Innovera RMS</h2>
    <form action="/savePassword" method="post">
      <input type="hidden" id="userId" name="userId" th:value="${userId}">
      <div>
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" required>
      </div>
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
      <button type="submit">Change Password</button>
    </form>
  </div>
</main>
</body>
</html>
